/* background: #f6edd9
dark: #152a00
main: #6b8e23
emphasis: #009aac */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #e8e2d3;
  padding: 3.2rem;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Large: 992-1199px */
@media (max-width: 1199px) {
  .container {
      max-width: 960px;
  }
}

/* Medium: 768-991px */
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

/* Small: 576-767px */
@media (max-width: 767px) {
  .container {
      max-width: 540px;
  }
}